<a href="https://colab.research.google.com/github/mezgoodle/ad_labs/blob/master/docs/lab6/lab6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Вступ

Створити програму, яка виконує наступні завдання, використовуючи файл
відповідно до варіанту:

1. Читає файл та змінює назви стовпців.

2. Виконує попередню обробку даних.

Варіант 7: Version 7.xlsx

In [675]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Дані

In [676]:
df = pd.read_excel('https://raw.githubusercontent.com/mezgoodle/ad_labs/master/data/Version_7.xlsx', header=[0, 1])
df.head(5)

  Unnamed: 0_level_0    Phytoplankton  ...          Mean column
                Date Biovolume, mm3/L  ... Conductivity,µS cm-1 Turbidity,NTU
0         2009-07-21            1.483  ...                  NaN           NaN
1         2009-08-05            1.102  ...                223.0         194.0
2         2009-08-19            0.638  ...                231.0         180.0
3         2009-09-02            0.744  ...                237.0         171.0
4         2009-09-16            1.362  ...                240.0         165.0

[5 rows x 17 columns]

In [677]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58 entries, 0 to 57
Data columns (total 17 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   (Unnamed: 0_level_0, Date)                    58 non-null     datetime64[ns]
 1   (Phytoplankton, Biovolume, mm3/L)             58 non-null     float64
 2   (Phytoplankton, Biovolume, mm3/L.1)           0 non-null      float64
 3   (Zooplankton, Biomass, g d.w./m2)             58 non-null     float64
 4   (Zooplankton, Biomass, g d.w./m2.1)           0 non-null      float64
 5   (Zooplankton, Chl a, µg/L)                    52 non-null     float64
 6   (Mean Crustacean, Length, mm)                 58 non-null     object
 7   (Mean Crustacean, NH4,mg/L as N)              58 non-null     float64
 8   (Mean Crustacean, Nox,mg/L as N)              57 non-null     float64
 9   (NUTRIENT CONCENTRATIONS, FRP,mg/L as P)      58 non-null     float64
 10  (NUTRIENT CONCENTRATIONS, Total N,mg/L as N)  58 non-null     float64
 11  (NUTRIENT CONCENTRATIONS, Total P,mg/L)       57 non-null     float64
 12  (NUTRIENT CONCENTRATIONS, Secchi,m)           58 non-null     float64
 13  (NUTRIENT CONCENTRATIONS, pH at 0.5m)         56 non-null     float64
 14  (NUTRIENT CONCENTRATIONS, Mean column toC)    57 non-null     float64
 15  (Mean column, Conductivity,µS cm-1)           57 non-null     float64
 16  (Mean column, Turbidity,NTU)                  57 non-null     float64
dtypes: datetime64[ns](1), float64(15), object(1)
memory usage: 7.8+ KB

In [678]:
df.columns

MultiIndex([(     'Unnamed: 0_level_0',                 'Date'),
            (          'Phytoplankton',     'Biovolume, mm3/L'),
            (          'Phytoplankton',   'Biovolume, mm3/L.1'),
            (            'Zooplankton',   'Biomass, g d.w./m2'),
            (            'Zooplankton', 'Biomass, g d.w./m2.1'),
            (            'Zooplankton',          'Chl a, µg/L'),
            (        'Mean Crustacean',           'Length, mm'),
            (        'Mean Crustacean',        'NH4,mg/L as N'),
            (        'Mean Crustacean',        'Nox,mg/L as N'),
            ('NUTRIENT CONCENTRATIONS',        'FRP,mg/L as P'),
            ('NUTRIENT CONCENTRATIONS',    'Total N,mg/L as N'),
            ('NUTRIENT CONCENTRATIONS',         'Total P,mg/L'),
            ('NUTRIENT CONCENTRATIONS',             'Secchi,m'),
            ('NUTRIENT CONCENTRATIONS',           'pH at 0.5m'),
            ('NUTRIENT CONCENTRATIONS',      'Mean column toC'),
            (            'Mean column', 'Conductivity,µS cm-1'),
            (            'Mean column',        'Turbidity,NTU')],
           )

In [679]:
df[("Unnamed: 0_level_0", "Date")].duplicated().value_counts()

False    50
True      8
Name: (Unnamed: 0_level_0, Date), dtype: int64

In [680]:
df.drop_duplicates(inplace=True)

In [681]:
df[("Unnamed: 0_level_0", "Date")].duplicated().value_counts()

False    50
True      3
Name: (Unnamed: 0_level_0, Date), dtype: int64

In [682]:
df[("Unnamed: 0_level_0", "Date")].value_counts()

2010-04-20    2
2010-02-19    2
2011-03-30    2
2009-10-02    1
2011-06-08    1
2010-12-30    1
2010-06-02    1
2011-03-02    1
2011-06-22    1
2010-11-03    1
2010-07-14    1
2009-08-05    1
2009-11-25    1
2010-06-30    1
2010-12-15    1
2009-10-27    1
2010-03-24    1
2009-08-19    1
2010-08-12    1
2011-02-02    1
2011-05-25    1
2010-08-25    1
2009-11-11    1
2011-05-11    1
2011-02-18    1
2010-04-07    1
2010-02-03    1
2010-10-05    1
2011-04-27    1
2010-11-16    1
2010-07-28    1
2010-05-19    1
2009-12-08    1
2010-10-20    1
2010-01-20    1
2011-04-13    1
2010-05-05    1
2009-10-14    1
2010-06-17    1
2011-01-12    1
2010-01-06    1
2009-09-16    1
2011-01-20    1
2010-12-01    1
2009-07-21    1
2010-03-10    1
2009-09-02    1
2009-12-23    1
2011-03-16    1
2010-09-22    1
Name: (Unnamed: 0_level_0, Date), dtype: int64

In [683]:
df[df[("Unnamed: 0_level_0", "Date")] == '2010-04-20']

   Unnamed: 0_level_0    Phytoplankton  ...          Mean column
                 Date Biovolume, mm3/L  ... Conductivity,µS cm-1 Turbidity,NTU
20         2010-04-20            0.288  ...                264.0         344.0
21         2010-04-20            0.288  ...                264.0         344.0

[2 rows x 17 columns]

In [684]:
index_value = df[df[("Unnamed: 0_level_0", "Date")] == '2010-04-20'].index
df.drop(index_value[0], inplace=True)
df[df[("Unnamed: 0_level_0", "Date")] == '2010-04-20']

   Unnamed: 0_level_0    Phytoplankton  ...          Mean column
                 Date Biovolume, mm3/L  ... Conductivity,µS cm-1 Turbidity,NTU
21         2010-04-20            0.288  ...                264.0         344.0

[1 rows x 17 columns]

In [685]:
df[df[("Unnamed: 0_level_0", "Date")] == '2010-02-19']

   Unnamed: 0_level_0    Phytoplankton  ...          Mean column
                 Date Biovolume, mm3/L  ... Conductivity,µS cm-1 Turbidity,NTU
15         2010-02-19            26.79  ...                307.0         380.0
16         2010-02-19            26.79  ...                307.0         380.0

[2 rows x 17 columns]

In [686]:
index_value = df[df[("Unnamed: 0_level_0", "Date")] == '2010-02-19'].index
df.drop(index_value[0], inplace=True)
df[df[("Unnamed: 0_level_0", "Date")] == '2010-02-19']

   Unnamed: 0_level_0    Phytoplankton  ...          Mean column
                 Date Biovolume, mm3/L  ... Conductivity,µS cm-1 Turbidity,NTU
16         2010-02-19            26.79  ...                307.0         380.0

[1 rows x 17 columns]

In [687]:
df[df[("Unnamed: 0_level_0", "Date")] == '2011-03-30']

   Unnamed: 0_level_0    Phytoplankton  ...          Mean column
                 Date Biovolume, mm3/L  ... Conductivity,µS cm-1 Turbidity,NTU
42         2011-03-30            40.58  ...                228.0         380.0
51         2011-03-30            40.58  ...                228.0         380.0

[2 rows x 17 columns]

In [688]:
index_value = df[df[("Unnamed: 0_level_0", "Date")] == '2011-03-30'].index
df.drop(index_value[1], inplace=True)
df[df[("Unnamed: 0_level_0", "Date")] == '2011-03-30']

   Unnamed: 0_level_0    Phytoplankton  ...          Mean column
                 Date Biovolume, mm3/L  ... Conductivity,µS cm-1 Turbidity,NTU
42         2011-03-30            40.58  ...                228.0         380.0

[1 rows x 17 columns]

In [689]:
## Better to look in the xlsx and understand what is wrong with question mark. Fill by nearby values?
df.loc[:, :].replace("?", np.nan, inplace=True)
df[("Mean Crustacean", "Length, mm")].astype(float)
df.loc[:, ("Mean Crustacean", "Length, mm")].describe()

count      50.000000
mean       20.653000
std       141.327197
min         0.369000
25%         0.567250
50%         0.660500
75%         0.768750
max      1000.000000
Name: (Mean Crustacean, Length, mm), dtype: float64

In [690]:
df.isnull().sum(axis=0) / df.shape[0]

Unnamed: 0_level_0       Date                    0.00
Phytoplankton            Biovolume, mm3/L        0.00
                         Biovolume, mm3/L.1      1.00
Zooplankton              Biomass, g d.w./m2      0.00
                         Biomass, g d.w./m2.1    1.00
                         Chl a, µg/L             0.10
Mean Crustacean          Length, mm              0.00
                         NH4,mg/L as N           0.00
                         Nox,mg/L as N           0.00
NUTRIENT CONCENTRATIONS  FRP,mg/L as P           0.00
                         Total N,mg/L as N       0.00
                         Total P,mg/L            0.00
                         Secchi,m                0.00
                         pH at 0.5m              0.02
                         Mean column toC         0.02
Mean column              Conductivity,µS cm-1    0.02
                         Turbidity,NTU           0.02
dtype: float64

In [691]:
df.drop([("Zooplankton", "Biomass, g d.w./m2.1"), ("Phytoplankton", "Biovolume, mm3/L.1")], axis=1, inplace=True)

In [692]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 0 to 57
Data columns (total 15 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   (Unnamed: 0_level_0, Date)                    50 non-null     datetime64[ns]
 1   (Phytoplankton, Biovolume, mm3/L)             50 non-null     float64
 2   (Zooplankton, Biomass, g d.w./m2)             50 non-null     float64
 3   (Zooplankton, Chl a, µg/L)                    45 non-null     float64
 4   (Mean Crustacean, Length, mm)                 50 non-null     float64
 5   (Mean Crustacean, NH4,mg/L as N)              50 non-null     float64
 6   (Mean Crustacean, Nox,mg/L as N)              50 non-null     float64
 7   (NUTRIENT CONCENTRATIONS, FRP,mg/L as P)      50 non-null     float64
 8   (NUTRIENT CONCENTRATIONS, Total N,mg/L as N)  50 non-null     float64
 9   (NUTRIENT CONCENTRATIONS, Total P,mg/L)       50 non-null     float64
 10  (NUTRIENT CONCENTRATIONS, Secchi,m)           50 non-null     float64
 11  (NUTRIENT CONCENTRATIONS, pH at 0.5m)         49 non-null     float64
 12  (NUTRIENT CONCENTRATIONS, Mean column toC)    49 non-null     float64
 13  (Mean column, Conductivity,µS cm-1)           49 non-null     float64
 14  (Mean column, Turbidity,NTU)                  49 non-null     float64
dtypes: datetime64[ns](1), float64(14)
memory usage: 6.2 KB

In [693]:
df.columns=['date', 'phyto_biov', 'zoo_biom', 'zoo_chl', 'crusta_lenght_mean', 
            'crusta_nh4_mean', 'crusta_nox_mean', 'nutrient_frp', 
            'nutrient_total_n', 'nutrient_total_p', 'nutrient_secchi',
            'nutrient_ph', 'nutrient_mean', 'conductivity_mean',
            'turbidity_mean']

In [694]:
df.sort_values(by='date', inplace=True)

In [695]:
df.set_index('date')

            phyto_biov  zoo_biom  ...  conductivity_mean  turbidity_mean
date                              ...
2009-07-21       1.483    0.2640  ...                NaN             NaN
2009-08-05       1.102    0.9860  ...              223.0           194.0
2009-08-19       0.638    4.4360  ...              231.0           180.0
2009-09-02       0.744    0.2230  ...              237.0           171.0
2009-09-16       1.362    0.3040  ...              240.0           165.0
2009-10-02       8.720    0.3880  ...              239.0           173.0
2009-10-14       2.134    0.2870  ...              245.0           184.0
2009-10-27       2.329    0.4550  ...              253.0           196.0
2009-11-11       2.639    0.5260  ...              259.0           235.0
2009-11-25      24.860    0.6810  ...              271.0           196.0
2009-12-08       3.258    0.5410  ...              279.0           213.0
2009-12-23      26.850    0.4120  ...              287.0           260.0
2010-01-06      19.090    0.1540  ...              298.0           256.0
2010-01-20       2.269    0.4990  ...              312.0           286.0
2010-02-03      15.070    0.6190  ...              310.0           340.0
2010-02-19      26.790    0.2760  ...              307.0           380.0
2010-03-10       1.291    0.9170  ...              251.0           269.0
2010-03-24       0.258    0.1710  ...              253.0           317.0
2010-04-07       0.579    0.6190  ...              263.0           314.0
2010-04-20       0.288    0.2600  ...              264.0           344.0
2010-05-05       0.275    0.1120  ...              263.0           350.0
2010-05-19       0.339    0.1900  ...              261.0           356.0
2010-06-02       0.362    0.1990  ...              264.0           349.0
2010-06-17       0.215    0.1350  ...              259.0           350.0
2010-06-30       0.471    0.2030  ...              269.0           350.0
2010-07-14       0.064    0.2840  ...              310.0           353.0
2010-07-28       0.205    0.0786  ...              311.0           377.0
2010-08-12       0.124    0.0626  ...              312.0           415.0
2010-08-25       0.209    0.0243  ...              258.0           408.0
2010-09-22       0.676    0.0770  ...              273.0           400.0
2010-10-05       0.716    0.0560  ...              273.0           398.0
2010-10-20       4.987    0.1970  ...              230.0           381.0
2010-11-03       2.534    0.1970  ...              235.0           374.0
2010-11-16      14.466    0.1720  ...              240.0           366.0
2010-12-01       0.325    0.1630  ...              240.0           346.0
2010-12-15       2.770    0.0640  ...              241.0           334.0
2010-12-30       2.229    0.0650  ...              232.0           357.0
2011-01-12       1.687    0.0500  ...              224.0           351.0
2011-01-20       1.796    0.1370  ...              215.0           345.0
2011-02-02       1.906    0.2240  ...              221.0           345.0
2011-02-18       4.471    0.0950  ...              224.0           333.0
2011-03-02     107.520    0.2790  ...              227.0           349.0
2011-03-16       4.594    0.1960  ...              227.0           354.0
2011-03-30      40.580    0.1300  ...              228.0           380.0
2011-04-13      29.660    0.1370  ...              226.0           361.0
2011-04-27      23.900    0.1020  ...              234.0           390.0
2011-05-11       0.194    0.1150  ...              233.0           401.0
2011-05-25       1.102    0.1430  ...              232.0           409.0
2011-06-08       0.172    0.0753  ...              229.0           407.0
2011-06-22       0.170    0.0790  ...              231.0           405.0

[50 rows x 14 columns]

In [696]:
df.describe().T

                    count        mean  ...        75%       max
phyto_biov           50.0    7.809460  ...    4.56325   107.520
zoo_biom             50.0    0.341196  ...    0.29975     4.436
zoo_chl              45.0   14.177778  ...   19.00000    90.000
crusta_lenght_mean   50.0   20.653000  ...    0.76875  1000.000
crusta_nh4_mean      50.0    0.017060  ...    0.01475     0.190
crusta_nox_mean      50.0    0.321520  ...    0.52750     0.630
nutrient_frp         50.0    0.164060  ...    0.19750     0.260
nutrient_total_n     50.0    1.550000  ...    1.80000     3.200
nutrient_total_p     50.0    0.372200  ...    0.43000     0.480
nutrient_secchi      50.0    0.130600  ...    0.15000     0.200
nutrient_ph          49.0    7.597551  ...    7.80000     9.000
nutrient_mean        49.0   20.702041  ...   24.30000    26.700
conductivity_mean    49.0  253.959184  ...  269.00000   312.000
turbidity_mean       49.0  321.775510  ...  377.00000   415.000

[14 rows x 8 columns]

In [697]:
df.phyto_biov = df.phyto_biov.replace(107.520, np.nan)
df.crusta_lenght_mean = df.crusta_lenght_mean.replace(1000, np.nan)

In [698]:
df

         date  phyto_biov  ...  conductivity_mean  turbidity_mean
0  2009-07-21       1.483  ...                NaN             NaN
1  2009-08-05       1.102  ...              223.0           194.0
2  2009-08-19       0.638  ...              231.0           180.0
3  2009-09-02       0.744  ...              237.0           171.0
4  2009-09-16       1.362  ...              240.0           165.0
5  2009-10-02       8.720  ...              239.0           173.0
6  2009-10-14       2.134  ...              245.0           184.0
7  2009-10-27       2.329  ...              253.0           196.0
8  2009-11-11       2.639  ...              259.0           235.0
9  2009-11-25      24.860  ...              271.0           196.0
10 2009-12-08       3.258  ...              279.0           213.0
11 2009-12-23      26.850  ...              287.0           260.0
12 2010-01-06      19.090  ...              298.0           256.0
13 2010-01-20       2.269  ...              312.0           286.0
14 2010-02-03      15.070  ...              310.0           340.0
16 2010-02-19      26.790  ...              307.0           380.0
17 2010-03-10       1.291  ...              251.0           269.0
18 2010-03-24       0.258  ...              253.0           317.0
19 2010-04-07       0.579  ...              263.0           314.0
21 2010-04-20       0.288  ...              264.0           344.0
22 2010-05-05       0.275  ...              263.0           350.0
23 2010-05-19       0.339  ...              261.0           356.0
24 2010-06-02       0.362  ...              264.0           349.0
25 2010-06-17       0.215  ...              259.0           350.0
26 2010-06-30       0.471  ...              269.0           350.0
27 2010-07-14       0.064  ...              310.0           353.0
28 2010-07-28       0.205  ...              311.0           377.0
29 2010-08-12       0.124  ...              312.0           415.0
30 2010-08-25       0.209  ...              258.0           408.0
31 2010-09-22       0.676  ...              273.0           400.0
32 2010-10-05       0.716  ...              273.0           398.0
33 2010-10-20       4.987  ...              230.0           381.0
34 2010-11-03       2.534  ...              235.0           374.0
35 2010-11-16      14.466  ...              240.0           366.0
36 2010-12-01       0.325  ...              240.0           346.0
37 2010-12-15       2.770  ...              241.0           334.0
44 2010-12-30       2.229  ...              232.0           357.0
45 2011-01-12       1.687  ...              224.0           351.0
46 2011-01-20       1.796  ...              215.0           345.0
47 2011-02-02       1.906  ...              221.0           345.0
48 2011-02-18       4.471  ...              224.0           333.0
49 2011-03-02         NaN  ...              227.0           349.0
41 2011-03-16       4.594  ...              227.0           354.0
42 2011-03-30      40.580  ...              228.0           380.0
43 2011-04-13      29.660  ...              226.0           361.0
53 2011-04-27      23.900  ...              234.0           390.0
54 2011-05-11       0.194  ...              233.0           401.0
55 2011-05-25       1.102  ...              232.0           409.0
56 2011-06-08       0.172  ...              229.0           407.0
57 2011-06-22       0.170  ...              231.0           405.0

[50 rows x 15 columns]

In [699]:
df.isna().sum()

date                  0
phyto_biov            1
zoo_biom              0
zoo_chl               5
crusta_lenght_mean    1
crusta_nh4_mean       0
crusta_nox_mean       0
nutrient_frp          0
nutrient_total_n      0
nutrient_total_p      0
nutrient_secchi       0
nutrient_ph           1
nutrient_mean         1
conductivity_mean     1
turbidity_mean        1
dtype: int64

In [700]:
df.fillna(method='bfill', inplace=True)

In [701]:
df.isna().sum()

date                  0
phyto_biov            0
zoo_biom              0
zoo_chl               0
crusta_lenght_mean    0
crusta_nh4_mean       0
crusta_nox_mean       0
nutrient_frp          0
nutrient_total_n      0
nutrient_total_p      0
nutrient_secchi       0
nutrient_ph           0
nutrient_mean         0
conductivity_mean     0
turbidity_mean        0
dtype: int64

In [702]:
df

         date  phyto_biov  ...  conductivity_mean  turbidity_mean
0  2009-07-21       1.483  ...              223.0           194.0
1  2009-08-05       1.102  ...              223.0           194.0
2  2009-08-19       0.638  ...              231.0           180.0
3  2009-09-02       0.744  ...              237.0           171.0
4  2009-09-16       1.362  ...              240.0           165.0
5  2009-10-02       8.720  ...              239.0           173.0
6  2009-10-14       2.134  ...              245.0           184.0
7  2009-10-27       2.329  ...              253.0           196.0
8  2009-11-11       2.639  ...              259.0           235.0
9  2009-11-25      24.860  ...              271.0           196.0
10 2009-12-08       3.258  ...              279.0           213.0
11 2009-12-23      26.850  ...              287.0           260.0
12 2010-01-06      19.090  ...              298.0           256.0
13 2010-01-20       2.269  ...              312.0           286.0
14 2010-02-03      15.070  ...              310.0           340.0
16 2010-02-19      26.790  ...              307.0           380.0
17 2010-03-10       1.291  ...              251.0           269.0
18 2010-03-24       0.258  ...              253.0           317.0
19 2010-04-07       0.579  ...              263.0           314.0
21 2010-04-20       0.288  ...              264.0           344.0
22 2010-05-05       0.275  ...              263.0           350.0
23 2010-05-19       0.339  ...              261.0           356.0
24 2010-06-02       0.362  ...              264.0           349.0
25 2010-06-17       0.215  ...              259.0           350.0
26 2010-06-30       0.471  ...              269.0           350.0
27 2010-07-14       0.064  ...              310.0           353.0
28 2010-07-28       0.205  ...              311.0           377.0
29 2010-08-12       0.124  ...              312.0           415.0
30 2010-08-25       0.209  ...              258.0           408.0
31 2010-09-22       0.676  ...              273.0           400.0
32 2010-10-05       0.716  ...              273.0           398.0
33 2010-10-20       4.987  ...              230.0           381.0
34 2010-11-03       2.534  ...              235.0           374.0
35 2010-11-16      14.466  ...              240.0           366.0
36 2010-12-01       0.325  ...              240.0           346.0
37 2010-12-15       2.770  ...              241.0           334.0
44 2010-12-30       2.229  ...              232.0           357.0
45 2011-01-12       1.687  ...              224.0           351.0
46 2011-01-20       1.796  ...              215.0           345.0
47 2011-02-02       1.906  ...              221.0           345.0
48 2011-02-18       4.471  ...              224.0           333.0
49 2011-03-02       4.594  ...              227.0           349.0
41 2011-03-16       4.594  ...              227.0           354.0
42 2011-03-30      40.580  ...              228.0           380.0
43 2011-04-13      29.660  ...              226.0           361.0
53 2011-04-27      23.900  ...              234.0           390.0
54 2011-05-11       0.194  ...              233.0           401.0
55 2011-05-25       1.102  ...              232.0           409.0
56 2011-06-08       0.172  ...              229.0           407.0
57 2011-06-22       0.170  ...              231.0           405.0

[50 rows x 15 columns]