<a href="https://colab.research.google.com/github/mezgoodle/ad_labs/blob/master/docs/lab6/lab6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Вступ

Створити програму, яка виконує наступні завдання:

1. Створити не менше двох об’єктів TimeSeries, у яких індекси створені за
допомогою date_range(). Виділити підмасиви у цих об’єктів. Провести
об’єднання об’єктів TimeSeries за допомогою merge_asof().

2. Виконати завдання відповідно до варіанту.

Варіант 7.
*Файл Microsoft_Stock.csv.*

1. Побудувати графік зміни ціни на час закриття біржі: а) загальний; б)
за 2019 рік; в) за вересень 2018 року; г) за листопад 2015 – січень
2018; д) за останні два тижня січня 2021-го року.

2. Знайти середні значення найбільшої ціни за день а) за 2016 рік; б) за
кожний місяць; в) за кожний тиждень першого кварталу 2019 року.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Дані

In [5]:
df = pd.read_excel('https://raw.githubusercontent.com/mezgoodle/ad_labs/master/data/Version_7.xlsx')
df

             Unnamed: 0     Phytoplankton  ...           Mean column  Mean column.1
0                  Date  Biovolume, mm3/L  ...  Conductivity,µS cm-1  Turbidity,NTU
1   2009-07-21 00:00:00             1.483  ...                   NaN            NaN
2   2009-08-05 00:00:00             1.102  ...                   223            194
3   2009-08-19 00:00:00             0.638  ...                   231            180
4   2009-09-02 00:00:00             0.744  ...                   237            171
5   2009-09-16 00:00:00             1.362  ...                   240            165
6   2009-10-02 00:00:00              8.72  ...                   239            173
7   2009-10-14 00:00:00             2.134  ...                   245            184
8   2009-10-27 00:00:00             2.329  ...                   253            196
9   2009-11-11 00:00:00             2.639  ...                   259            235
10  2009-11-25 00:00:00             24.86  ...                   271            196
11  2009-12-08 00:00:00             3.258  ...                   279            213
12  2009-12-23 00:00:00             26.85  ...                   287            260
13  2010-01-06 00:00:00             19.09  ...                   298            256
14  2010-01-20 00:00:00             2.269  ...                   312            286
15  2010-02-03 00:00:00             15.07  ...                   310            340
16  2010-02-19 00:00:00             26.79  ...                   307            380
17  2010-02-19 00:00:00             26.79  ...                   307            380
18  2010-03-10 00:00:00             1.291  ...                   251            269
19  2010-03-24 00:00:00             0.258  ...                   253            317
20  2010-04-07 00:00:00             0.579  ...                   263            314
21  2010-04-20 00:00:00             0.288  ...                   264            344
22  2010-04-20 00:00:00             0.288  ...                   264            344
23  2010-05-05 00:00:00             0.275  ...                   263            350
24  2010-05-19 00:00:00             0.339  ...                   261            356
25  2010-06-02 00:00:00             0.362  ...                   264            349
26  2010-06-17 00:00:00             0.215  ...                   259            350
27  2010-06-30 00:00:00             0.471  ...                   269            350
28  2010-07-14 00:00:00             0.064  ...                   310            353
29  2010-07-28 00:00:00             0.205  ...                   311            377
30  2010-08-12 00:00:00             0.124  ...                   312            415
31  2010-08-25 00:00:00             0.209  ...                   258            408
32  2010-09-22 00:00:00             0.676  ...                   273            400
33  2010-10-05 00:00:00             0.716  ...                   273            398
34  2010-10-20 00:00:00             4.987  ...                   230            381
35  2010-11-03 00:00:00             2.534  ...                   235            374
36  2010-11-16 00:00:00            14.466  ...                   240            366
37  2010-12-01 00:00:00             0.325  ...                   240            346
38  2010-12-15 00:00:00              2.77  ...                   241            334
39  2010-08-25 00:00:00             0.209  ...                   258            408
40  2010-09-22 00:00:00             0.676  ...                   273            400
41  2010-10-05 00:00:00             0.716  ...                   273            398
42  2011-03-16 00:00:00             4.594  ...                   227            354
43  2011-03-30 00:00:00             40.58  ...                   228            380
44  2011-04-13 00:00:00             29.66  ...                   226            361
45  2010-12-30 00:00:00             2.229  ...                   232            357
46  2011-01-12 00:00:00             1.687  ...                   224            351
47  2011-01-20 00:00:00             1.796  ...                   215            345
48  2011-02-02 00:00:00             1.906  ...                   221            345
49  2011-02-18 00:00:00             4.471  ...                   224            333
50  2011-03-02 00:00:00            107.52  ...                   227            349
51  2011-03-16 00:00:00             4.594  ...                   227            354
52  2011-03-30 00:00:00             40.58  ...                   228            380
53  2011-04-13 00:00:00             29.66  ...                   226            361
54  2011-04-27 00:00:00              23.9  ...                   234            390
55  2011-05-11 00:00:00             0.194  ...                   233            401
56  2011-05-25 00:00:00             1.102  ...                   232            409
57  2011-06-08 00:00:00             0.172  ...                   229            407
58  2011-06-22 00:00:00              0.17  ...                   231            405

[59 rows x 17 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               59 non-null     object
 1   Phytoplankton            59 non-null     object
 2   Unnamed: 2               0 non-null      float64
 3   Zooplankton              59 non-null     object
 4   Unnamed: 4               0 non-null      float64
 5   Unnamed: 5               53 non-null     object
 6   Mean Crustacean          59 non-null     object
 7   Unnamed: 7               59 non-null     object
 8   Unnamed: 8               58 non-null     object
 9   NUTRIENT CONCENTRATIONS  59 non-null     object
 10  Unnamed: 10              59 non-null     object
 11  Unnamed: 11              58 non-null     object
 12  Unnamed: 12              59 non-null     object
 13  Unnamed: 13              57 non-null     object
 14  Unnamed: 14              58 non-null     object
 15  Mean column              58 non-null     object
 16  Mean column.1            58 non-null     object
dtypes: float64(2), object(15)
memory usage: 8.0+ KB

In [7]:
df.describe()

       Unnamed: 2  Unnamed: 4
count         0.0         0.0
mean          NaN         NaN
std           NaN         NaN
min           NaN         NaN
25%           NaN         NaN
50%           NaN         NaN
75%           NaN         NaN
max           NaN         NaN

# Перше завдання